.product span{
    font-size: 30px;
}

.wrapper {
    padding : 20px;
    font-size: 20px;
}

h1{
    padding : 20px;
    border: 5px solid darkgreen ;
    margin-bottom: 10px;
}

.wrapper button{
    font-size: 20px;
    margin: 20px;
}

